* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: rgb(21, 16, 36);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

header a{
    color: white;
    font-weight: lighter;
    font-size: x-large;
    text-decoration: none;
}

footer{
    text-align: center;
    padding: 3%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(21, 16, 36);
    color: white;
}

footer h3{
    font-weight: lighter;
}

img{
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

form{
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
}

.img{
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.comprar{
    border: 1px solid rgb(66, 57, 94);
    background-color: white;
    color: rgb(66, 57, 94);
    border-radius: 8px;
    padding: 5% 10%;
    text-decoration: none;
}

.comprar:hover{
    background-color: rgb(66, 57, 94);
    color: white;
}

.container{
    position: relative;
    min-height: 200vh;
}



.titulo{
    padding: 6%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(66, 57, 94);
    font-size: x-large;
}

.titulo h1{
    color: white;
}

.titulo p{
    color: rgb(191, 182, 211);
    font-size: large;
}

.catalogo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
    padding-bottom: 10%;
}

.card{
    border: 1px solid rgb(66, 57, 94);
    border-radius: 15px;
    margin: 2%;
}

.card-1{
    height: 200px;
    width: 300px;
}

.card-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 15%;
}

.card-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15%;
}

.item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10% 0;
	gap: 25px;
}

.img-container{
    width: 20%;
    border: 1px black solid;
}



