<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/index.css">
	<title>Tienda</title>
</head>

<body>
	<div class="container">
		<header>
			<a href="/index">Home</a>
			<a href="/logout">Logout</a>
		</header>

		<main>
			<div class="titulo">
				<h1>Tienda grupo 4</h1>
				<p>Cada paso, un nuevo comienzo.</p>
			</div>
			<div class="catalogo">

				<div th:each="producto : ${productos}" class="card">
					<div class="card-1">
						<img class="img" th:src="${producto.linkImagen}" alt="sin imagen">
					</div>
					<div class="card-2">
						<h4 th:text="${producto.nombre}"></h4>
						<span>$<span th:text="${producto.precio}"></span></span>
					</div>

					<div th:if="${!producto.activo}" class="card-3">
						El producto no está disponible
					</div>
					<div th:unless="${!producto.activo}" class="card-3">
						<a th:href="@{/compra-form/{id}(id=${producto.idProducto})}" class="comprar">Comprar</a>
					</div>
				</div>

			</div>
		</main>

		<footer>
			<h3>Copiright &copy; Grupo 4</h3>
		</footer>
	</div>
</body>

</html>